BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80

Language: Cpp
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: Align
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
IncludeBlocks: Merge
IndentCaseLabels: true
IndentWrappedFunctionNames: false
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Middle
ReflowComments: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: true
SpaceInEmptyParentheses: false
SortIncludes: true
SpaceAfterCStyleCast: true
